p {
    font-family: 'Kanit';
    font-size: 25px;
    margin-left: 100px;
}

p1{
    font-family: 'Kanit';
    font-size: 22px;
}

h1{
    font-family: 'Kanit';
    font-size: 45px;
    margin-left: 150px;
    opacity: 0.7;
}

body {
    display: grid;
    margin: 2% 2% 7% 2%;
    background-color: #37474F;
    color: white;
    grid-gap: 50px;
}

#line {
	width: 800px;
	height: 400px;
    margin: 1em auto;
    display: none;
}

#pie {
    min-width: 0px;
    max-width: 800px;
    height: 500px;
    margin: 1em auto;
    display: none;
}

#stack {
    width: 1000px;
    height: 500px;
    margin: 1em auto;
}

#scatter {
    width: 800px;
    height: 500px;
    margin: 1em auto;
    display: none;
}

.container {
    position: relative;
    text-align: center;
    color: white;
  }

  .top-left {
    position: absolute;
    top: 8px;
    left: 20px;
  }
  .top-word{
    font-family: 'Kanit';
    font-size: 25px;
    margin-left: 40px
  }
  .centered {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  
button {
    font-size: 18px;
    padding: 30px;
    margin: -3% 3%;
    background:transparent;
    color: white;
    display: inline;
    border: 0;
    text-decoration: none;
  }

  button:hover {
    background-color: whitesmoke;
    color: #37474F;

  }

  .inline-buttons .one-third {
    text-align: center;
}

@media only screen and (max-width: 1400px) {

    .inline-buttons .one-third {
        width: 100%;
        margin: 20px;
    }
    
}

#chart{
    margin-top: -30px;
}

#text-line{
    margin-left: 32%;
    display: none; 
}
#text-pie{
    margin-left: 27%;
    display: none; 
}
#text-stack{
    margin-left: 35%;
    display: block; 
}
#text-scatter{
    margin-left: 24%;
    display: none; 
}

#text-chart{
    margin-top: 30px;
}